# Snowflake
SNOWFLAKE_ACCOUNT=EWJCZXS-RI28586
SNOWFLAKE_USER=MOUNASNOW
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=AIRLINE_ANALYTICS
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=TRANSFORM_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATA_SHARING_ACCOUNT=EWJCZXS.RI28586
SNOWFLAKE_ORGANIZATION=EWJCZXS
SNOWFLAKE_ACCOUNT_NAME=RI28586
SNOWFLAKE_ACCOUNT_URL=EWJCZXS-RI28586.snowflakecomputing.com
SNOWFLAKE_ACCOUNT_LOCATOR=CL99736
SNOWFLAKE_CLOUD_PLATFORM=AWS
SNOWFLAKE_EDITION=Standard

# OpenSky Network OAuth2
OPENSKY_CLIENT_ID=amroumouna@gmail.com-api-client
OPENSKY_CLIENT_SECRET=LQW3clOtPPrusTrPVq5fscqgm6HcY0S1

# Airflow (do not change)
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth
