.env
.env.example
logs/
__pycache__/
*.pyc
.DS_Store
dbt_packages/
dbt/target/
.dbt/
# Ignore local shell scripts, env files, and generated SQL artifacts
get_opensky_token.sh
opensky_data_commands.sh
snowflakes.sql
start.sql
plugins/
seeds/
dbt/include/
*.xh
